.tracker {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tracker h1{
  margin: 15px;
}

.tabcontainer {
  padding: 6px;
  margin: 10px auto;
  width: 50%;
}

thead{
  color: aliceblue;
  font-size: 24px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(150, 15, 15);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table td{
  font-size: 21px;
}