.trainee-tracker-container {
  padding: 60px 40px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tracker-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
}

.tracker-table thead {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.tracker-table thead th {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.tracker-table tbody tr {
  transition: background-color 0.3s ease;
  height: 50px;
  line-height: 50px;
}

.tracker-table tbody tr:nth-child(odd) {
  background-color: #f5f6f7;
}

.tracker-table tbody tr:hover {
  background-color: #e0e0e0;
}

.tracker-table tbody td {
  padding: 0 15px;
  font-size: 0.9em;
  color: #34495e;
  border-top: 1px solid #eaecee;
  vertical-align: middle;
  text-align: left;
}
@media (max-width: 768px) {
  .trainee-tracker-container {
      padding: 30px 20px;
  }

  .tracker-table thead th,
  .tracker-table tbody td {
      padding: 0 10px;
  }

  .tracker-table thead th {
      font-size: 0.75em;
  }

  .tracker-table tbody td {
      font-size: 0.8em;
  }

  .tracker-table tbody tr {
      height: 40px;
      line-height: 40px;
  }
}

.tracker {
  background-color: #f8f8f8; /* Example background color, adjust as needed */
  padding: 20px;
}

.tabcontainer {
  margin: 20px 0;
}

.tab {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tab thead {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.tab thead th {
  padding: 15px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

.tab tbody td {
  padding: 15px;
  font-size: 0.9em;
  color: #34495e;
  text-align: center;
  border-top: 1px solid #eaecee;
}


