.tracker {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tracker h1{
  margin: 15px;
}

.tabcontainer {
  padding: 6px;
  margin: 10px auto;
  width: 50%;
}

thead{
  color: black;
  font-size: 24px;
  padding: 10px;
  border: 1px solid black;
  background-color: #f2f2f2;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table td{
  font-size: 21px;
}

/* TABLE */
.trainee-tracker-container {
    padding: 180px;
}

.tracker-heading {
    font-size: 15px;
    color: #333;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 60%;
}

.tracker-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 200px;
}

.tracker-table th,
.tracker-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.tracker-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}