.adminBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.btnlogin{
  width: 900px; 
  padding: 10px; 
  font-size: 40px;
 }
 .btnlogin{ 
  width: 900px; 
  padding: 10px; font-size: 40px 
}

.adminbody {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 30vh;
}

.admindiv {
  display: 'flex'; 
  gap: 100px;
}
.adminbodybtn {
  padding: 10px 20px;
  font-size: 16px;
}