h3 {
  margin-top: 40px;
}


/* modules.css */
body {
  margin: 0;
  padding: 0;
}

/* Adjust the width of the table cells */
td {
  max-width: 250px;
  word-break: break-all;
  overflow-wrap: break-word;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  min-height: 100vh;
  margin-top: 40px;
}

/* Left section */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form input {
  width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 12px;
}

/* Right section */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
}

.table-container {
  margin: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button-container {
  margin: 15px;

}

/* Style for all buttons */
button,
.button-container button {
  border-radius: 8%; /* Set 8% border radius for all buttons */
  margin: 5px;
}

/* New styles for the table */
table {
  width: 100%;
  table-layout: fixed; /* Use fixed table layout to ensure even cell width */
}

/* Center the table */
.table-container table {
  width: auto;
}


