
.trainee-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  height: 100%;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    color: #fff;
    width: 450px;
    height: 250px;
    padding: 3px;
    background-color: #333;
    border-radius: 8px;
  }

  .github{
    margin: 13px;
    text-align: center;
    font-size: 17px;
  }

  .user_name {
    display: flex;
    margin: 5px;
    text-align: center;
  }

 .user{
    margin: 0 1px;
    border-radius: 3px;
    padding: 3px;
    border: 0;
    outline: none;
  }

  .btn-submit{
    padding: 3px 8px;
    border-radius: 1px;
    border: 0;
    font-weight: 500;
    outline: none;
  }

  .btn-submit:hover{
    color: white;
    background-color: rgb(26, 25, 25);
  }

  ::placeholder {
    font-size: 17px;
    color: rgb(131, 131, 131)
  }


